html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #212121;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: white;
}

.weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: rgb(197, 197, 197);
}

.temp {
    font-size: 1.8em;
    color: white;
}

.windHumidity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .wind,
  .humidity {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
  }
  
  .humidity {
    align-items: flex-start;
    border-left: 2px solid white;
  }
  
  .humidityHeading,
  .windHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
  }
  
  .humidityValue,
  .windValue {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
  }